<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>



    <nav class="sidebar-nav">
		<a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">最新消息</a>
	  
		<a href="/docs/sys/">系统简介<br></a>
		<a href="/docs/ui/mail-settings/">用户界面<br></a>
		<ul>
			<li><a href="/docs/ui/mail-settings/">邮箱设置</a></li>
            <li><a href="/docs/ui/plugin/">插件</a></li>
			<li><a href="/docs/ui/rule/">规则</a></li>
			<li><a href="/docs/ui/user/">用户</a></li>
			<li><a href="/docs/ui/device/">设备</a></li>
			<li><a href="/docs/ui/widget/">小部件</a></li>
			<li><a href="/docs/ui/dashboard/">仪表板</a></li>
		</ul>	  
	  <a href="/docs/rule-engine/">插件引擎</a>

	  <details class="menu2" close>
        <summary>规则引擎</summary>
          <ul>
            <li><a href="/docs/rules/filter/">过滤<br></a></li>
            <li><a href="/docs/rules/processor/">处理<br></a></li>
            <li><a href="/docs/rules/action/">执行<br></a></li>
				<li><a href="/docs/rules/filter/">规则<br></a></li>
				<ul>
					<li><a href="/docs/rules/filter/">过滤</a></li>
					<li><a href="/docs/rules/processor/">处理</a></li>
					<li><a href="/docs/rules/action/">执行</a></li>
					<li><a href="/docs/rules/plugin-engine/">插件</a></li>
				  </ul>	  
		  </ul>	  
	  </details>
	  
	  <a href="/docs/about/">关于</a><br>	  
		<a href="/docs/about/">关1于</a>	

    </nav>

    <!--p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p-->
  </div>
</div>
