<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>



    <nav class="sidebar-nav">
		<a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">最新消息</a>
	  
		<a href="/docs/sys/">系统简介<br></a>
		<details>
			<summary>用户界面</summary>
				<ul>
					<a href="/docs/ui/plugin/">插件<br></a>
					<a href="/docs/ui/rule/">规则<br></a>
					<a href="/docs/ui/user/">用户<br></a>
					<a href="/docs/ui/device/">设备<br></a>
					<a href="/docs/ui/widget/">小部件<br></a>
					<a href="/docs/ui/dashboard/">仪表板<br></a>
				</ul>	  
		</details>	
		
		<a href="/docs/rule-engine/">插件</a>
		
		<details>
			<summary>规则引擎</summary>
				<ul>
					<a href="/docs/rules/filter/">过滤<br></a>
					<a href="/docs/rules/processor/">处理<br></a>
					<a href="/docs/rules/action/">执行<br></a>
					<a href="/docs/rules/plugin-engine/">规则<br></a>					
				</ul>	  
		</details>	
				
		<a href="/docs/about/">公司简介<br></a>	  

    </nav>

    <!--p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p-->
  </div>
</div>
